<style type="text/css">
 .mrc
 {
 	margin-left: 4cm;
 }
</style>
<% provide(:title, "Contact") %>
<h1><u>Contact</u></h1>
<div class="mrc">
<p>
<b>CARE Hospitals</b><br>
Labbipet<br>
Vijayawada – 520003<br>
For Emergency Call Tel: 105733<br> 
For Appointments Call Tel: +91-866-2577498<br>
Email: info@carehospitals.com<br>
Fax: +91-866-2786159</p>
<p>
<b>CARE Hospitals</b><br>
Road No 1<br>
Banjara Hills<br>
Hyderabad – 500034<br>
For Emergency Call Tel: 105711<br>
For Appointments Call<br>
Tel: +91-40-30418888<br>
Email: info@carehospitals.com<br>
Fax: +91-40-30418488</p>
<p>
<b>CARE Hospitals</b><br>
17-1-1, KGH Road<br>
Maharanipeta<br>
Visakhapatnam – 530002<br>
For Emergency Call Tel: +91 891 3067044 / 22<br>
For Appointments Call Tel: +91-0891-3067000<br>
Email: info@carehospitals.com<br>
Fax: +91-891-2555799
</p>
<p>
<b>CARE Hospitals</b><br>
3 Farmland, Panchsheel Square<br>
Ramdaspeth, Wardha Road<br>
Nagpur – 440012<br>
For Emergency Call Tel: +91 9423623456<br>
For Appointments Call Tel: +91-712-3982222<br>
Email: info@carehospitals.com<br>
Fax: +91-0712-2420158
</p>
</div>