<style type="text/css">
 .ig
 {
 	text-align: justify;
 	font-size: 1.1em;
 	margin-left: 2cm;
 	margin-right: 2cm;
 }
</style>
<% provide(:title, "Help") %>
<h1><u>Help</u></h1>
<p class="ig">Assessing your needs

 These services can also help you avoid going into hospital, by getting the right help for you quickly so that you can be cared for at home.

 If there’s a possibility of you going to live in a care home permanently after a stay in hospital, ask about intermediate care or reablement services. They could allow you to make as full a recovery as possible before making such a decision.

 Intermediate care services can be offered free of charge for up to six weeks. Your needs should be assessed, and then staff will agree some goals with you that you hope to achieve within a specified time.

 Reaching your goals

 To help you reach those goals, you may be offered services from NHS staff such as physiotherapists or occupational therapists, along with social care support if you need it. You can receive services in your own home, in a care home, or at a day or community hospital. 

 Regaining independence
 
 Re-ablement has similar aims to intermediate care, but focuses on helping you to learn or re-learn skills necessary for daily living. Specially-trained social care staff support you at home by encouraging you to complete tasks such as washing, dressing and preparing a snack for yourself, rather than doing these tasks for you.

 The aim is to help rebuild your confidence, improve your mobility and let you see what you’re capable of doing. If you’re offered re-ablement services to help you maintain or regain the ability to live in your own home, this should be provided free of charge for up to six weeks.

 What next?

 When your period of intermediate care or re-ablement finishes, you’ll be assessed to see whether you need any ongoing social care or NHS support. For more information about re-ablement and the types of intermediate care available.</p>
