<head>
	<style type="text/css">
	
	</style>
</head>

<div class="center jumbotron">
  <h1>Care Hospitals</h1>

  <h2>
    Always there for your care...
  </h2>

  <%= link_to "Branches", hospitals_path, class: "branches" %>
  </div>