<style type="text/css">
	.aa
	{
		margin-left: 6cm;
	}
	
</style>
<h1><u>New Doctor</u></h1>

<%= render 'form' %>

<div class="aa">
<%= link_to 'Cancel', hospital_doctors_path(@hospital.id) %>
</div>