@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #660000;

/* universal */

body {
  padding-top: 60px;


}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.displayed {
    display: block;
    margin-left: 250px;
    margin-right: 250px;

    }

    ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #660000;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #787878;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.branches
{
  font-size: 1.6em;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}


/* header */

#logo {
  float: left;
  margin-right: 5px;
  font-size: 2.5em;
  color: red;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 6px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    font-weight: bold;
    vertical-align: text-bottom;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.former
{
  min-height: 380px;
}

