<head>
	<style type="text/css">
      .foot li {float: right;}
      .foot li a {
    display: inline-block;
    color: #000000;
    text-align: center;
    
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    text-align: bottom;
}
	</style>

</head>
<footer class="footer">
  <nav>
    <ul>
      <li><%= "CopyRight@CARE-Hospitals" %></li>
    </ul>
  </nav>
</footer>